.contacts-wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #343A40;
  h2{
    margin-top: 10px;
    margin-bottom: 0;
    color: #fff;
  }
  button{
    margin: 0 5px;
  }

}

.table-wrapper{
  margin-top: 10px;
}